@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-20: 20px;
  --font-72: 72px;
  --font-96: 96px;
  --font-18: 18px;
  --font-16: 16px;
  --font-56: 56px;
  --font-14: 14px;
  --font-88: 88px;
  --font-40: 40px;
  --font-32: 32px;
  --font-24: 24px;

  /* color */

  --color-primary: #35d9a8;
  --color-secondary: #ffd76f;
  --color-light-1: #f2f5fc;
  --color-light-2: #cbd6e2;
  --color-dark-1: #4c4a5e;
  --color-dark-2: #413e52;
  --color-dark-3: #353345;
  --color-dark-4: #2a2739;
  --color-grey-1: #757385;
  --color-dark-5: #1e1c2d;
  --color-dark-6: #131020;
  --color-dark-7: #0d0b1a;
  --color-dark-8: #070514;
  --color-blue-1: #0043d9;
  --color-blue-2: #1d63ff;
  --color-blue-3: #2e7aff;
  --color-blue-4: #1d1b38;
  --color-neutral-1: #0d0d13;
  --color-neutral-2: #15151f;
  --color-neutral-3: #1c1c2b;
  --color-neutral-4: #303044;
  --color-neutral-5: #454258;
  --color-neutral-6: #56546a;
  --color-neutral-7: #716f85;
  --color-neutral-8: #8d8b9e;
  --color-neutral-9: #cecdd9;
  --color-special-1: #271f50;
  --color-special-2: #140c40;

  --layout-sm: "480px";
  --layout-md: "1200px";
  --layout-lg: "1200px";
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Archivo;
}

/* Tema claro */
.light-theme {
  background-color: #fff;
  color: #fff;
}

/* Tema escuro */
.dark-theme {
  background-color: #333;
  color: #fff;
}

.transition-active {
  animation: slideUp 0.5s ease-out;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
